:root {
  --main-color: #4281a4;
  --correct-answer: #48a9a6;
  --wrong-answer: #c1666b;
  --decoration-color: #d4b483;
  --button-color: #e4dfda;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.answers {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(1, 300px);
  justify-content: center;
}

.answer-elem {
  cursor: pointer;
  height: 3rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--button-color);
  padding: 1rem;
}

.answer-selected {
  background-color: gray;
}

.hide {
  visibility: hidden;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 500px;
  width: 350px;
}

.next-question-button {
  cursor: pointer;
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: var(--button-color);
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
}

.question-number {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: var(--decoration-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.question {
  text-align: center;
  max-width: 600px;
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--button-color);
}

.disabled {
  pointer-events: none;
}

.play-again-button {
  border: none;
  background-color: var(--button-color);
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 4px;
  justify-content: center;
  margin-bottom: 1rem;
}

.section-title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  color: var(--button-color);
  font-size: 2rem;
}
.section-subtitle {
  text-align: center;
  padding-bottom: 1rem;
  color: var(--button-color);
  font-size: 1.5rem;
}
.categories li {
  background-color: var(--button-color);
  cursor: pointer;
  height: 5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.difficulties {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  gap: 4px;
  justify-content: center;
  margin-bottom: 1rem;
}

.difficulties li {
  background-color: var(--button-color);
  cursor: pointer;
  height: 5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
.result {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  width: 350px;
}

.summary {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 350px;
  font-size: 1.5rem;
}

.correct-answer {
  color: var(--correct-answer);
  border: 3px solid var(--correct-answer);
  opacity: 1;
}

.wrong-answer {
  color: var(--wrong-answer);
  border: 3px solid var(--wrong-answer);
  opacity: 0.6;
}

.loading {
  color: #d4b483;
  font-size: 3rem;
  text-align: center;
}

.return-at-home-button {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  padding: 0.25rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #c1666b;
}

@media screen and (min-width: 768px) {
  .answers {
    grid-template-columns: repeat(2, 300px);
  }
  .main {
    height: 350px;
    width: 750px;
  }
  .categories {
    grid-template-columns: repeat(3, 200px);
  }
  .categories li {
    height: 3rem;
  }
  #root {
    min-height: 100vh;
  }

  .question {
    margin-top: 3rem;
  }

  .result {
    width: fit-content;
  }

  .summary {
    width: fit-content;
  }
}
